<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <listeners>
    <listener class-name="api.utilities.ExtentReportManager" />
  </listeners>
  
  <test name="User Tests">
    <classes>
      <!-- Running the test methods in the desired order -->
      <class name="api.tests.TestPostUser">
        <methods>
          <include name="testPostUser"/>
        </methods>
      </class>
      
      <class name="api.tests.TestGetUserById">
        <methods>
          <include name="testGetUserById"/>
        </methods>
      </class>
      
      <class name="api.tests.TestUpdateUserById">
        <methods>
          <include name="testUpdateUserById"/>
        </methods>
      </class>
      
      <class name="api.tests.TestDeleteUserById">
        <methods>
          <include name="testDeleteUserById"/>
        </methods>
      </class>
      
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
